.App {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: #282d37;
  border-radius: 50px;
  padding: 10px;
  max-width: 200px; /* Adjust width as needed */
  margin: 20px auto 0; /* Center horizontally and add 20px margin from the top */
}



.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-item {
  margin: 0 15px;
}

.nav-item a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  display: inline-block;
  width: 15px; /* Adjust the size of the circle */
  height: 15px; /* Adjust the size of the circle */
  border-radius: 50%; /* Shape the circle */
  background-color: #3d4656; /* Color of the circle */
  text-align: center;
  line-height: 30px; /* Center the text vertically */
}

.nav-item a:hover {
  background-color: #1e90ff; /* Change color on hover */
}

.page {
  position: relative;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 10s ease-in-out; /* Adjust the duration here */
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 10s ease-in-out; /* Adjust the duration here */
}



