.App {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: #020d1d;
  border-radius: 50px;
  padding: 10px;
  max-width: 200px; 
  margin: 20px auto 0; 
}



.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-item {
  margin: 0 15px;
}

.nav-item a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  display: inline-block;
  width: 15px; 
  height: 15px; 
  border-radius: 50%; 
  background-color: #3d4656; 
  text-align: center;
  line-height: 30px;
}

.nav-item a:hover {
  background-color: #1e90ff;
}

.page {
  position: relative;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 10s ease-in-out; 
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 10s ease-in-out;
}